.h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.h3 {
  font-size: 18px;
  margin-bottom: 16px;
}

.h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.h5 {
  font-size: 14px;
  margin-bottom: 16px;
}

.h6 {
  font-size: 12px;
  margin-bottom: 16px;
}

.quote {
  margin: 16px 0;
  padding: 4px 16px;
  border-left: 4px solid #dddddd;
}

.ul {
  margin-left: 16px;
  list-style-position: inside;
}

.ol {
  margin-left: 16px;
  list-style-position: inside;
}

.listitem {
  margin: 4px 32px;
}

.nestedListItem {
  list-style: none;
}

.listitemChecked,
.listitemUnchecked {
  list-style: none;
  position: relative;
  margin-left: 8px;
  padding-left: 24px;

  &:focus-visible {
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
  }
}

.listitemChecked {
  &::before {
    background-color: #3b72e9;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 7px;
    display: inline-block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-40deg);
  }
}

.code {
  background-color: #f7fafb;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.6;
  font-size: 14px;
  margin: 8px 0;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;

  &::before {
    content: attr(data-gutter);
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d9dddf;
    padding: 8px;
    min-width: 32px;
    height: 100%;
    text-align: right;
  }
}

.tokenComment {
  color: slategray;
}

.tokenPunctuation {
  color: #999;
}

.tokenProperty {
  color: #905;
}

.tokenSelector {
  color: #690;
}

.tokenOperator {
  color: #9a6e3a;
}

.tokenAttr {
  color: #07a;
}

.tokenVariable {
  color: #e90;
}

.tokenFunction {
  color: #dd4a68;
}

.textBold {
  font-weight: bold;
}

.textCode {
  background-color: #e8eced;
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.textItalic {
  font-style: italic;
}

.textStrikethrough {
  text-decoration: line-through;
}

.textSubscript {
  font-size: 0.8em;
  vertical-align: sub;
}

.textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}

.textUnderline {
  text-decoration: underline;
}

.textUnderlineStrikethrough {
  text-decoration: underline line-through;
}
