.h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.h3 {
  font-size: 18px;
  margin-bottom: 16px;
}

.h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.h5 {
  font-size: 14px;
  margin-bottom: 16px;
}

.h6 {
  font-size: 12px;
  margin-bottom: 16px;
}

.quote {
  margin: 16px 0;
  padding: 4px 16px;
  border-left: 4px solid #dddddd;
}

.ul {
  margin-left: 16px;
  list-style-position: inside;
}

.ol {
  margin-left: 16px;
  list-style-position: inside;
}

.listitem {
  margin: 4px 32px;
}

.nestedListItem {
  list-style: none;
}

.listitemChecked,
.listitemUnchecked {
  list-style: none;
  position: relative;
  margin-left: 8px;
  padding-left: 24px;

  &:focus-visible {
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
  }
}

.listitemChecked {
  &::before {
    background-color: #3b72e9;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 7px;
    display: inline-block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-40deg);
  }
}
